body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  border: solid #dde4ef;
  margin: 100px;
  margin-top: 50px;
  border-radius: 10px;
}

form {
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}

button {
  margin-left: 1000px;
}

.col {
  font-size: 50px;
  border: none #dde4ef;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 5px;
}

.col:hover {
  background: #dde4ef;
  font-size: 50px;
  border: solid #dde4ef;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: ease-in-out 200ms;
}

.temperature {
  position: relative;
  margin-top: 50px;
  font-size: 60px;

  margin-left: 30px;

  font-family: "Roboto", sans-serif;
}

.city {
  position: relative;
  margin-left: 300px;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  margin-top: 300px;
}

.day {
  position: relative;
  margin-left: 300px;
  margin-top: 0;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
}
#current-temp-celsius {
  font-size: 25px;
}
#current-temp-fahrenheit {
  font-size: 25px;
}
.container {
  margin-top: 10px;
  line-height: 1;
}
.dayOfWeek {
  font-size: 20px;
  font-weight: bold;
}

.dayTemp {
  font-size: 15px;
}

.mainEmoji {
  font-size: 90px;
}
