body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
}

.weather-app {
  border: solid #dde4ef;
  margin: 100px;
  margin-top: 50px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

form {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.col {
  font-size: 50px;
  border: none #dde4ef;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 5px;
}

.col:hover {
  background: #dde4ef;
  font-size: 50px;
  border: none #dde4ef;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: ease-in-out 200ms;
}

.temperature {
  position: relative;
  margin-top: 50px;
  font-size: 60px;

  margin-left: 30px;

  font-family: "Roboto", sans-serif;
}

.celcius {
  position: relative;
  top: -15px;
  font-size: 15px;
}

.fahrenheit {
  position: relative;
  top: -15px;
  font-size: 15px;
}

.unit {
  position: relative;
  top: -15px;
  font-size: 15px;
}
.city {
  position: relative;
  margin-left: 250px;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  margin-top: -100px;
  margin-right: 0;
}

.day {
  position: relative;
  margin-left: 250px;
  margin-top: 0;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
}

.time {
  font-size: 18px;
}

.container {
  margin-top: 10px;
  line-height: 1;
}
.dayOfWeek {
  font-size: 20px;
  font-weight: bold;
}

.dayTemp {
  font-size: 15px;
}

.mainEmoji {
  font-size: 90px;
}

.locationButton {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 3px;
  border: solid 1px;
}

.sourceCode {
  font-size: 15px;
  display: block;
  margin: 0 auto;
}
